html {
  margin: -5px !important;
  padding: -5px !important;
}

body {
  margin: -5px !important;
  padding: -5px !important;
  background: red;
}

iframe {
  margin: -5px !important;
  padding: -5px !important;
  top: -5px !important;
  bottom: -5px !important;
  left: -5px !important;
  right: -5px !important;
}